# passepartout v0.0.1
SUBSYSTEM=="block", ACTION=="add", \
ENV{DEVTYPE}=="partition", RUN+="/bin/sh -c '/home/airone/Documents/passepartout/src/mount.sh'"